{% load static %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>SecuMsgr - It's safe, we promise!</title>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>

<body>
    <div class=container>
        <div class="header">
            <a href="/">
                <img src="{% static 'logo.png' %}" class="logo-img" />
                <h1 class="logo-text">SecuMsgr</h1>
            </a>
        </div>

        <div class="side-right">
            <div class="password-list">
                <h2>Demo passwords!</h2>
                <p>admin : admin1</p>
                <p>chrissy : 123456</p>
                <p>nemo : g43W3w</p>
                <p>lorena : ******</p>
            </div>
            <div>
                <h3>Login</h3>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Login</button>
                </form>
            </div>
        </div>

    </div>
</body>
</html>