{% load static %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>SecuMsgr - It's safe, we promise!</title>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>

<body>
    <div class=container>
        <div class="header">
            <a class="login_logout" href="/login">[LOGIN]</a>
            <a href="/">
                <img src="{% static 'logo.png' %}" class="logo-img" />
                <h1 class="logo-text">SecuMsgr</h1>
            </a>
        </div>

        <div class="side-right">
            <h3>Welcome to SecuMsgr!</h3>
            <p>SecuMsgr is a secure messaging service where every registered user can communicate with other registered users directly. It's something like IRC, but only with 1-to-1 communication, user registering, data saving and bleeding edge security features. Actually it's nothing like IRC, this is better than that! <small>...and totally not a honeypot of any kind!</small></p>
            <h3>Choose your destiny!</h3>
            <a class="login" href="/login">[LOGIN]</a>
            <a class="login" href="/register">[REGISTER]</a>
        </div>

    </div>
</body>
</html>