/* General */

html, body {
    background-color: rgb(9, 3, 26);
    height:95%;
}

h1, h2, h3, h4, p, a {
    font-family: monospace;
    padding: 0px 0px;
}

a {
    color: rgb(233, 233, 233);
    text-decoration: none;
}

/* Containers */

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    color: rgb(233, 233, 233);
    padding: 0px 15%;
    column-gap: 30px;
}

.header {
    order: 1;
    flex: 100%;
    margin-top: 30px;
}

.side-left {
    order: 2;
    flex: 2;
}

.menu-container {
    padding: 6px 15px 10px;
    margin: 0px;
    border-radius: 10px;
    background-color: rgb(23, 11, 41);
    min-height: 100%;
}

.side-right {
    order: 3;
    flex: 6;
}

.footer {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 30px;
    align-self: flex-end;
}

/* Header */

.logo-img {
    width: 30px;
    height: 30px;
    float: left;
    margin-right: 7px;
}

.logo-text {
    color: rgb(233, 233, 233);
}

/* Messages */

.messages {
    scroll-behavior: smooth;
}

.message-left{
    color:rgb(14, 14, 14);
    float: left;
    margin: 10px 0px;
    padding: 0px 20px 5px 15px;
    border-radius: 10px;
    background-color: rgb(213, 243, 209);
}

.message-right{
    color:rgb(14, 14, 14);
    float: right;
    margin: 10px 0px;
    padding: 0px 20px 5px 15px;
    border-radius: 10px;
    background-color: rgb(215, 200, 255);
}

.content {
    font-size: medium;
    margin-left: 20px;
}

.username{
    font-size: small;
    font-weight: bold;
}

.timestamp {
    font-size: xx-small;
}

/* Send message */

.send-message 
    input[type=text] {
        width: 100%;
        padding: 10px 10px;
        border-radius: 10px;
        box-sizing: border-box;
        border: 1px solid rgb(168, 168, 168);
        font-size: small;
    }

    button {
        visibility: visible;
    }